@font-face {
  font-family: 'Overlock-Regular';
  src: url('styles/font/Overlock-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OverlockSC-Regular';
  src: url('styles/font/OverlockSC-Regular.otf') format('opentype');
}